/*remove margins and padding from all elements*/
*{
  margin:0;
  padding:0;
}
/*--------------------------------------------------------*/
/*------------ Hero / Header Image Section ---------------*/
/*--------------------------------------------------------*/

/*Header/ hero image style*/
header{
  margin-bottom: -50px;
  background-image: url(images/masthead-01.png);
  background-size:cover;
  background-repeat: no-repeat;
  height:90vh;
  text-align: center;
}

/* Large title heading*/
.top-title{
  padding-top:30vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size:5vw;
  color:#ffffff;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.38);
  text-transform: uppercase;
}

/* Top title orange text */
.top-title-orange{
  color:#f78b35;
}

/* Top header subtitle text*/
.top-subtitle{
  margin-top:20px;
  font-family:'Open Sans', sans-serif;
  font-size:23px;
  color:rgba(255,255,255,0.6);
  font-weight:300;
  font-style:italic;
  text-shadow: 0px 0px 5px rgba(0,0,0,0.38);
}

/*--------------------------------------------------------*/
/*-------------------- Nav Styles ------------------------*/
/*--------------------------------------------------------*/

nav{
  width:80vw;
  height:110px;
  background: linear-gradient(141deg, #450035 0%, #00435e 51%);
  background-color:#000000;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.50);
  position:relative;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:-60px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align:center;
  padding:40px 0px 40px 0px;
}

li {
    display: inline;
    font-size:24px;
    padding:0px 30px 0px 30px;
}

.nav-link{
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  color:#ffffff;
  text-decoration:none;
  font-size:1.2vw;
}

/*--------------------------------------------------------*/
/*------------ Dark Main Section Styles ---------------*/
/*--------------------------------------------------------*/
#about{
  height:auto;
  background-color:#333333;
  padding-top:120px;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:70px;
  margin-top:-60px;
}

#resources{
  height:auto;
  background-color:#333333;
  padding-top:120px;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:70px;
  margin-top:-60px;
}

#map{
  height:auto;
  background-color:#333333;
  padding-top:120px;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:70px;
}

#contact{
  height:auto;
  background-color:#333333;
  padding-top:30px;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:70px;
}

#copyright{
  height:auto;
  background-color:#333333;
  padding-top:10px;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:70px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  color:#ffffff;
}

/*--------------------------------------------------------*/
/*------------ Copyright Section Styles ------------------*/
/*--------------------------------------------------------*/
#copyright a{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;

}

#quick-links{
  text-align: center;
border-bottom: 1px solid rgba(255,255,255,.25);
padding-bottom: 50px;
}

#quick-links a{
  margin-right: 20px;
text-decoration: none;
}

#social{
  text-align: center;
border-bottom: 1px solid rgba(255,255,255,.25);
padding-bottom: 50px;
}
#social a{
  margin-right: 1vw;
  font-size: 12px;
}

#social i{
  margin-top:20px;
}


#minors{
  height:auto;
  background-color:#333333;
  padding-top:120px;
  padding-left:10vw;
  padding-right:10vw;
  padding-bottom:70px;
}

#employment{
  background: #ccf0ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ffe6f9, #ccf0ff);
  background: -o-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: -moz-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: linear-gradient(to bottom right, #ffe6f9, #ccf0ff);
  padding-top: 120px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 145px;
}

/*--------------------------------------------------------*/
/*------------------ Text/ Font Styling ------------------*/
/*--------------------------------------------------------*/
.light-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight:regular;
  font-size:2em;
  color:#ffffff;
  text-transform: uppercase;
}

.light-heading:after{
content:' ';
display:block;
border:4px solid #f78b35;
width:140px;
margin:10px 0px 10px 0px;
}

.dark-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight:regular;
  font-size:2em;
  color:#333333;
  text-transform: uppercase;
}

.dark-heading:after{
content:' ';
display:block;
border:4px solid #f78b35;
width:140px;
margin:10px 0px 10px 0px;
}

.light-body{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  color:#ffffff;
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: 1px;
}

.quote{
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-style:italic;
  color:#ffffff;
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: 1px;
  margin-top:40px;
}

.quote-author{
  font-family: 'Montserrat', sans-serif;
  font-size:18px;
  font-weight:normal;
  color:#f78b35;
  text-transform: uppercase;
  margin-top:10px;
}

/*--------------------------------------------------------*/
/*------------------- Light Section Styles ---------------*/
/*--------------------------------------------------------*/
#degrees{
  background: #ccf0ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ffe6f9, #ccf0ff);
  background: -o-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: -moz-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: linear-gradient(to bottom right, #ffe6f9, #ccf0ff);
  padding-top: 120px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 145px;
}

#people{
  background: #ccf0ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ffe6f9, #ccf0ff);
  background: -o-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: -moz-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: linear-gradient(to bottom right, #ffe6f9, #ccf0ff);
  padding-top: 120px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 145px;
}

#news{
  background: #ccf0ff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ffe6f9, #ccf0ff);
  background: -o-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: -moz-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
  background: linear-gradient(to bottom right, #ffe6f9, #ccf0ff);
  padding-top: 120px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 145px;
}

/*--------------------------------------------------------*/
/*------------------ Grid Section Styles -----------------*/
/*--------------------------------------------------------*/

#undergrad-grid{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 250px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
   margin-top: 100px;
}

#grad-grid{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 250px;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
   margin-top: 100px;
}

#faculty-grid{
  display: -webkit-flex; /* Safari */
-webkit-flex-wrap: wrap; /* Safari 6.1+ */
display: flex;
flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
   margin-top: 100px;
}

#staff-grid{
  display:none;
}

#older-content{
    display:none;
}

#staff-grid-content{
  display: -webkit-flex; /* Safari */
-webkit-flex-wrap: wrap; /* Safari 6.1+ */
display: flex;
flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
   margin-top: 100px;

}

#minors-grid{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: auto;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
   margin-top: 30px;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
}

/*--------------------------------------------------------*/
/*------------------- Card Flip Styles -------------------*/
/*--------------------------------------------------------*/
/*.minors-flip{
  width: 18%;
  margin: 40px 35px 0 0px;
  height: 14vw;
  padding: 20px;
  background-color:rgba(255,255,255,0.1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}*/

.minors-flip i{
background: -webkit-linear-gradient(left top, #ffe6f9, #ccf0ff);
background: -o-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
background: -moz-linear-gradient(bottom right, #ffe6f9, #ccf0ff);
background: linear-gradient(to bottom right, #ffe6f9, #ccf0ff);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.popup-minor{
  width: 18%;
  margin: 40px 35px 0 0px;
  height: 14vw;
  padding: 20px;
  background-color:rgba(255,255,255,0.1);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
  transition: .5s ease;
}

.popup-minor:hover{
  background-color:rgba(255,255,255,0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);

}

.popup-minor:hover .minor-title{
  color:#ffffff;
}



/*--------------------------------------------------------*/
/*------------ Employment Statistic Styles ---------------*/
/*--------------------------------------------------------*/
.emp-stat{
  background: -webkit-linear-gradient(left top, #60034A, #055A7D);
  background: -o-linear-gradient(bottom right, #60034A, #055A7D);
  background: -moz-linear-gradient(bottom right, #60034A, #055A7D);
  background: linear-gradient(to bottom right, #60034A, #055A7D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align:center;
}

.emp-stat:after {
content: '';
display: block;
height: 3px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;
margin-left:36%;
}

.stat-box:hover{
  cursor:pointer;
}

.stat-box:hover .emp-stat{
  font-size:2.2em;
  transition: .5s ease;
  text-shadow: 0px 0px 3px rgba(0,0,0,0.4);
}
.stat-box:hover .emp-stat:after {
  width: 25%;
  background: #f78b35;
}

.stat-box:hover .stat-desc{
  color: #555555;
  transition: color .5s ease;
}

/*--------------------------------------------------------*/
/*------------------ Card Flip Styles --------------------*/
/*--------------------------------------------------------*/
.card-flip{
  border: 2px solid #dddddd;
  background-size: cover;
  width: 27%;
  height: 309px;
  margin: 0 27px 0 5px;
  padding: 20px;
}

#faculty-grid .card-flip{
  width: 26%;
  height: 240px;
  margin-bottom: 20px;
}

#faculty-grid img{
  width:10vw;
  margin-left: 25%;
}

#faculty-grid .degree-desc{
  padding-top: 10%;
}

#staff-grid .card-flip{
  width: 26%;
  height: 240px;
  margin-bottom: 20px;
}

#staff-grid img{
  width:10vw;
  margin-left: 25%;
}

#staff-grid .degree-desc{
  padding-top: 10%;
}

.card-flip:hover{
  border-color: #333;
  transition: border-color .5s ease;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
  cursor:pointer;
}

.front{
  background-color: rgba(0,0,0,0);
}

.back{
  /*background: linear-gradient(141deg, rgba(69,0,53,.36) 0%, rgba(0,67,94,.36) 51%);*/
}

/*--------------------------------------------------------*/
/*---------------- Minors/Degree Styles ------------------*/
/*--------------------------------------------------------*/
.degree-title{
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 500;
  font-size: 2.4em;
  color: #f78b35;
  text-align: center;
  margin-left: 3vw;
  margin-right: 4vw;
  margin-top: 15%;
}

.degree-desc{
  padding-top: 17%;
  padding-left: 20px;
  padding-right: 20px;
  font-family:'Open Sans Condensed',sans-serif;
  font-size:20px;
  font-weight:400;
  color:#333;
  font-style: italic;
}

.concentration-list{
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  font-weight:400;
  color:#999;
  padding-left: 20px;
  padding-right: 20px;
  margin-top:20px
}

.minor-title{
  font-family: 'Open Sans Condensed',sans-serif;
  font-weight: 300;
  text-align: center;
  padding: 10px 20px 0px 0px;
  color: #bbbbbb;
  font-size:1.8vw;
}

.minors-flip:hover{
  color:#ffffff;
}

.dark-subhead{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size:1.2em;
  color:#333333;
  text-transform: uppercase;
  margin-top: 45px;
}

.light-subhead{
  font-family: 'Montserrat',sans-serif;
  font-weight: 400;
  font-size:1.2em;
  color:#ffffff;
  text-transform: uppercase;
  margin-top: 45px;
}

.dark-copy{
  font-family: 'Open Sans', sans-serif;
  font-weight:300;
  color:#555555;
  font-size: 1em;
  line-height: 1.7em;
  letter-spacing: 1px;
}

.stat-desc{
  font-family: 'Open Sans Condensed',sans-serif;
  color: rgba(0,0,0,0);
  text-align: center;
  font-size: 1.1em;
}

.stat-box{
  display: inline-block;
  width: 250px;
  margin-top: 3%;
  vertical-align: top;
}

.employer-list{
  display:inline;
  list-style-type: circle;
  font-family: 'Open Sans Condensed',sans-serif;
  color:#f78b35;
  margin-top:20px;
  text-align:center;
  margin-right:20px;
  font-size: 20px;
}

.employer-list:before{
  content: '\2022 ';
  color: #999999;
}

iframe{
  width: 88.9vw;
  height: 90vh;
  border: none;
  margin-left: -8px;
  margin-top: 30px;
}

/*--------------------------------------------------------*/
/*--------------------- Table Styles ---------------------*/
/*--------------------------------------------------------*/

table {
font-family: 'Open Sans Condensed', sans-serif;
border-collapse: collapse;
width: 100%;
}

.table-head{
background: #f78b35;
color:#ffffff;
font-weight:500;

}

td, th {
text-align: left;
padding: 8px;
}

th{
  cursor: pointer;
}

td{
  color:#999999;
}

tr:nth-child(even) {
  background-color: rgba(255,255,255,.1);
}

.table-div{
  height: 50vh;
  background-color: rgba(255,255,255,0.2);
  overflow: scroll;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7);
  margin-top: 20px;
}

/*--------------------------------------------------------*/
/*---------------- Staff/Faculty Styles ------------------*/
/*--------------------------------------------------------*/

.fac-pic{
background-repeat: no-repeat;
background-position: 50%;
border-radius: 50%;
width: 100px;
height: 100px;
margin-left: 6.5vw;
}

.people-toggle{
  display: inline;
  margin-left: 32vw;
}
.people-toggle .dark-subhead{
  display:inline;
}

.people-toggle a{
  display:inline;
  margin:10px;
  color: #333333;
  padding:20px;
  margin:20px;
  border:1px solid #333333;
  text-decoration: none;
}

.people-toggle .selected{
  border:none;
  background:linear-gradient(141deg, #450035 0%, #00435e 51%);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.3);
  color:#ffffff;
}

/*--------------------------------------------------------*/
/*--------------------- Pop-Up Styles --------------------*/
/*--------------------------------------------------------*/
.white-popup {
position: relative;
background: #FFF;
padding: 20px;
width: auto;
max-width: 90vw;
margin: 20px auto;
height:auto;
}

.white-popup-minors {
position: relative;
background: #FFF;
padding: 20px;
width: auto;
max-width: 90vw;
margin: 20px auto;
height:auto;
font-family: 'Open Sans',sans-serif;
color:#333;
}

.open-popup-link{
font-family: 'Open Sans Condensed',sans-serif;
color: #777777;
font-size: 20px;
display: inline-flex;
text-decoration: none;
margin: 20px;
padding: 20px;
background-color: rgba(247,139,53,.51);
text-transform: uppercase;
transition: .5s ease;
}

.open-popup-link:hover{
background-color: #F78B35;
color:#ffffff;
box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}

/*--------------------------------------------------------*/
/*--------------------- Resource Styles ------------------*/
/*--------------------------------------------------------*/
#research-grid{
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
width: 100%;
height: auto;
-webkit-align-items: flex-start;
align-items: flex-start;
-webkit-justify-content: flex-start;
justify-content: flex-start;
margin-top: 30px;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}

#interest-grid{
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
width: 100%;
height: auto;
-webkit-align-items: flex-start;
align-items: flex-start;
-webkit-justify-content: flex-start;
justify-content: flex-start;
margin-top: 30px;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}
#resources a{
text-decoration: none;
font-size: 1.4em;
line-height: 2em;
}
#student-services th{
color:#ffffff;
}
#tabs-ul{
border: 1px solid #F78B35;
padding: 1.1vw 0px;
width: 783px;
text-align: left;
}

#tabs-ul li a{
text-decoration: none;
padding: 1.5vw 10px;
font-size: 18px;
text-transform: uppercase;
}

#tabs-ul li {
padding:0;
}

#tabs-ul li.active a{
color:#fff;
background-color:#F78B35;
}

a{
font-family:'Open Sans Condensed',sans-serif;
color:#F78B35;
text-decoration: none;
text-transform: uppercase;
font-size:18px;
}

#resources .light-heading{
margin-top: 70px;
}

#grad-forms li{
display: block;
}

#grad-forms{
text-align: left;
}

#grad-forms li a{
text-decoration: none;
}

#undergrad-forms li{
display: block;
}

#undergrad-forms{
text-align: left;
}

#undergrad-forms li a{
text-decoration: none;
}


/*--------------------------------------------------------*/
/*----------------- Contact Form Styles ------------------*/
/*--------------------------------------------------------*/
#contact-form-id{
height:40vh;
}

#contact-form{
text-align:center;
margin-top:50px;
padding-bottom:50px;
}

.open-popup-link-contact{
font-family: 'Open Sans Condensed',sans-serif;
color: #f2f2f2;
font-size: 20px;
text-decoration: none;
margin: 20px;
padding: 20px;
background-color: rgba(247,139,53,.51);
text-transform: uppercase;
transition: .5s ease;
}

.open-popup-link-contact:hover{
background-color: #F78B35;
color:#ffffff;
box-shadow: 0px 0px 5px rgba(0,0,0,0.4);

}

/*--------------------------------------------------------*/
/*---------------- News Read More Styles -----------------*/
/*--------------------------------------------------------*/
.read-more-div{
overflow:hidden;
}

.read-more-div a{
text-decoration: none;
margin-top:10px;
text-transform: uppercase;
font-size: 18px;
}
